Repository depromeet/17th-team3-Web: changes, and which lefthook commands are due for each by the changed paths.
All: prettier_write, prettier_check, eslint

prettier_write:
  run: pnpm prettier --write {staged_files}

prettier_check:
  run: pnpm prettier --check {staged_files}

eslint:
  run: pnpm eslint {staged_files}

[Refactor] 홈페이지 서버 컴포넌트 도입 및 데이터 페칭 최적화 (#60)
  src/app/(home)/_components/HomeMenu.tsx
  src/app/(home)/_components/HomePageClient.tsx
  src/app/(home)/_components/index.ts
  src/app/(home)/error.tsx
  src/app/(home)/page.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] AcitveMeetingCard 컴포넌트 불필요한 'use client' 제거 (#60)
  src/app/(home)/_components/ActiveMeetingCard.tsx
Due: prettier_write, prettier_check, eslint

[Feat] 참석자 스와이퍼 및 페르소나 잔여 코드 정리
  src/app/events/[eventId]/overview/RecommendationsClient.tsx
  src/app/events/[eventId]/overview/_components/attendees/AttendeeAvatarButton.tsx
  src/app/events/[eventId]/overview/_components/attendees/AttendeeEmptyButton.tsx
  src/app/events/[eventId]/overview/_components/attendees/AttendeeReel.tsx
  src/app/events/[eventId]/overview/_components/personas/PersonaCard.tsx
  src/app/events/[eventId]/overview/_components/personas/PersonaCarousel.tsx
  src/app/events/[eventId]/overview/_components/personas/PersonaEmptyCard.tsx
  src/app/events/[eventId]/overview/_context/SnapSyncContext.tsx
  src/app/events/[eventId]/overview/_mocks/attendees.mock.ts
  src/app/events/[eventId]/overview/_models/attendee.ts
Due: prettier_write, prettier_check, eslint

[Feat] Mommuzzi group hungry SVG 아이콘 추가
  public/images/mommuzzi-group-hungry.svg
Due: none

[Feat] 설문 현황 관련 목데이터 추가
  src/app/_mocks/overview.ts
  src/app/_services/overview.ts
Due: prettier_write, prettier_check, eslint

[Feat] Lottie 관련 의존성 설치 및 로딩 컴포넌트 구현 (#60)
  package.json
  pnpm-lock.yaml
  public/lottie/loading-1.json
  public/lottie/loading-2.json
  src/app/(home)/page.tsx
  src/app/_components/ui/Loading.tsx
Due: prettier_write, prettier_check, eslint

[Feat] 로그인 콜백 페이지 로딩 UI 적용 (#60)
  src/app/auth/callback/page.tsx
Due: prettier_write, prettier_check, eslint

[Feat]! 이벤트 overview 페이지 UI 구현
  src/app/events/[eventId]/overview/_components/SurveyActionButton.tsx
  src/app/events/[eventId]/overview/_components/SurveyStatusBanner.tsx
  src/app/events/[eventId]/overview/_components/persona/PersonaCard.tsx
  src/app/events/[eventId]/overview/_components/persona/PersonaCardSwiper.tsx
  src/app/events/[eventId]/overview/_components/persona/PersonaEmptyCard.tsx
  src/app/events/[eventId]/overview/page.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] 모임생성 페이지 타입 및 컴포넌트 구조 개선 (#60)
  src/app/(home)/_components/HomePageClient.tsx
  src/app/(home)/_hooks/useMeetingsByStatus.ts
  src/app/_components/ui/Badge.tsx
  src/app/_components/ui/BottomSheet.tsx
  src/app/meetings/create/_components/DateTimePicker.tsx
  src/app/meetings/create/_components/FormSection.tsx
  src/app/meetings/create/page.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] 모임생성 페이지 비즈니스 로직 커스터훅으로 분리 (#60)
  src/app/_components/ui/BottomSheet.tsx
  src/app/_components/ui/Loading.tsx
  src/app/_hooks/useBottomSheet.ts
  src/app/_hooks/useClickOutside.ts
  src/app/_hooks/useInputState.ts
  src/app/meetings/create/page.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] 모임생성 UI 표시 비즈니스 로직 커스텀훅으로 분리 (#60)
  src/app/_hooks/useBottomSheet.ts
  src/app/_hooks/useClickOutside.ts
  src/app/_hooks/useDisclosure.ts
  src/app/_hooks/useInputState.ts
  src/app/meetings/create/_components/DateTimePicker.tsx
  src/app/meetings/create/_components/LocationBottomSheet.tsx
  src/app/meetings/create/page.tsx
Due: prettier_write, prettier_check, eslint

[Chore] 이벤트 핸들러 prefix 'handle' 강제 eslint 규칙 제거 (#60)
  eslint.config.mjs
Due: none

[Chore] useDiscloser 핸들러 함수명 변경 (#60)
  src/app/_hooks/useDisclosure.ts
  src/app/meetings/create/page.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] 모임생성 폼 로직 관리 커스텀훅 useMeetingForm 구현 (#60)
  src/app/_components/ui/BottomSheet.tsx
  src/app/_hooks/useClickOutside.ts
  src/app/_hooks/useDisclosure.ts
  src/app/meetings/create/_components/DateTimePicker.tsx
  src/app/meetings/create/_hooks/useMeetingForm.ts
  src/app/meetings/create/_models/constants.ts
  src/app/meetings/create/_models/formState.ts
  src/app/meetings/create/page.tsx
Due: prettier_write, prettier_check, eslint

[Design] 페이지 레이아웃에 맞춘 네비게이션/바텀시트 넓이 조정 (#60)
  src/app/_components/ui/BottomSheet.tsx
  src/app/meetings/create/_components/DateTimePicker.tsx
  src/app/meetings/create/_components/LocationBottomSheet.tsx
  src/app/meetings/create/page.tsx
Due: prettier_write, prettier_check, eslint

[Feat] 날짜/시간 DateTimePicker 컴포넌트 구현 (#60)
  src/app/_components/ui/BottomSheet.tsx
  src/app/meetings/create/_components/DateTimePicker.tsx
  src/app/meetings/create/_components/TimePickerScroll.tsx
  src/app/meetings/create/_hooks/useMeetingForm.ts
  src/app/meetings/create/page.tsx
Due: prettier_write, prettier_check, eslint

[Chore] 모달 컴포넌트 position fixed로 변경 (#60)
  src/app/_components/ui/Modal/ConfirmModal.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] 'use client' 지시어 필요한 컴포넌트에 추가, 필요하지 않는 컴포넌트 제거
  src/app/events/[eventId]/overview/_components/SurveyStatusBanner.tsx
  src/app/events/[eventId]/overview/_components/persona/PersonaCard.tsx
  src/app/events/[eventId]/overview/_components/persona/PersonaEmptyCard.tsx
Due: prettier_write, prettier_check, eslint

[Design]! 설문 퍼널 SurveyNameStep 디자인 고도화 - 프로필 모달 해상도 유지 -> 모달 배경이 SurveyLayout 범위까지만 덮이도록 - 프로필 클릭 시 미리보기 이미지 실시간 변경 등
  src/app/survey/_components/core/SurveyFunnel.tsx
  src/app/survey/_components/core/SurveyLayout.tsx
  src/app/survey/_components/step/SurveyNameStep.tsx
  src/app/survey/_components/ui/ProfileSelectModal.tsx
Due: prettier_write, prettier_check, eslint

[Feat] 프로필 선택 리셋 이슈 해결
  src/app/survey/_components/core/SurveyFunnel.tsx
  src/app/survey/_hooks/useSurveyFunnel.ts
  src/app/survey/_models/types.ts
Due: prettier_write, prettier_check, eslint

[Feat]! React Query Provider 추가 및 의존성 업데이트
  package.json
  pnpm-lock.yaml
  src/app/_providers/ReactQueryProvider.tsx
  src/app/layout.tsx
Due: prettier_write, prettier_check, eslint

[Feat]! 장소 관련 쿼리 및 서비스 추가
  src/app/_queries/placeQueries.ts
  src/app/_services/place.ts
  src/app/events/[eventId]/analysis/_components/RestaurantCard.tsx
  src/app/events/[eventId]/analysis/_components/RestaurantCardSwiper.tsx
  src/app/events/[eventId]/analysis/page.tsx
  src/app/events/[eventId]/restaurants/RestaurantsClient.tsx
  src/app/events/[eventId]/restaurants/page.tsx
Due: prettier_write, prettier_check, eslint

[Design] 설문 페이지 Notice Frame Detail
  src/app/survey/_components/step/SurveyCuisineStepV2.tsx
  src/app/survey/_components/ui/CuisineNoticeFrame.tsx
  src/app/survey/_components/ui/StepFormLayout.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] places-> place 파일명으로 변경되면서 Import 변경
  src/app/_services/places.ts
  src/app/events/[eventId]/_components/RestaurantCardContent/index.tsx
  src/app/events/[eventId]/restaurants/_components/RestaurantCard.tsx
  src/app/events/[eventId]/restaurants/_components/RestaurantSwiper.tsx
Due: prettier_write, prettier_check, eslint

[Feat] 설문 결과 저장 로딩 UI (임시)
  public/images/momuzzi-survey-loading.svg
  src/app/survey/_components/step/SurveyCuisineStepV2.tsx
  src/app/survey/_components/ui/LoadingOverlay.tsx
Due: prettier_write, prettier_check, eslint

[Design] 임시 로딩 이미지 -> gif 변경
  public/images/momuzzi-survey-loading.gif
  src/app/survey/_components/ui/LoadingOverlay.tsx
  src/app/survey/_models/constants.ts
Due: prettier_write, prettier_check, eslint

[Setting] 모노레포 환경 구성을 위한 초기 설정 (#63)
  .gitignore
  eslint.config.mjs
  package.json
  pnpm-workspace.yaml
  prettier.config.mjs
  tsconfig.json
  turbo.json
Due: prettier_write, prettier_check

[Fix]! 모노레포 경로 별칭 해석 오류 수정 (#63)
  eslint.config.mjs
Due: none

[Fix]! mobile 패키지에 대해 `'import/namespace'` 규칙 비활성화 (#63)
  eslint.config.mjs
Due: none

[Setting] 모바일 앱 초기 설정 (#63)
  apps/mobile/.gitignore
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/assets/adaptive-icon.png
  apps/mobile/assets/favicon.png
  apps/mobile/assets/icon.png
  apps/mobile/assets/splash-icon.png
  apps/mobile/index.ts
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  pnpm-lock.yaml
Due: prettier_write, prettier_check, eslint

[Feat] 웹페이지와 네이티브 컨테이너의 backgroundColor 동기화 로직 구현 (#63)
  apps/mobile/src/lib/injectedJavaScript.ts
Due: prettier_write, prettier_check, eslint

[Refactor] 웹뷰 로딩 커스텀 훅 분리 (#63)
  apps/mobile/App.tsx
  apps/mobile/index.ts
  apps/mobile/src/App.tsx
  apps/mobile/src/hooks/useWebViewHandlers.ts
Due: prettier_write, prettier_check, eslint

[Fix] JSX 허용 구문 추가 (#63)
  apps/mobile/tsconfig.json
Due: prettier_write, prettier_check

[Setting] expo 실행 스크립트 수정 (#63)
  apps/mobile/package.json
Due: prettier_write, prettier_check

[Docs] 프로젝트 실행 문서 업데이트 (#63)
  README.md
Due: prettier_write, prettier_check

[Design] 음식 설문 제출 모달 공용 디자인 적용
  src/app/survey/_components/ui/FoodConfirmModal.tsx
Due: prettier_write, prettier_check, eslint

[Feat] 설문 로딩 연동(건너뛰기 & 투표) & Event Page 플로우 연결
  src/app/survey/_components/core/SurveyFunnel.tsx
  src/app/survey/_components/step/SurveyCuisineStepV2.tsx
Due: prettier_write, prettier_check, eslint

[Feat] API 응답 구조 변경 및 로딩 UI 구현 (#60)
  public/loading.gif
  src/app/(home)/_components/ActiveMeetingCard.tsx
  src/app/(home)/_components/EndedMeetingCard.tsx
  src/app/(home)/_models/types.ts
  src/app/_components/ui/Loading.tsx
  src/app/_services/meetings/api.ts
  src/app/meetings/create/page.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] 홈페이지 Suspense + 스켈레톤 UI 구현으로 UX 개선 (#60)
  src/app/(home)/_components/HomePageClient.tsx
  src/app/(home)/_components/HomePageLayout.tsx
  src/app/(home)/_components/Skeleton.tsx
  src/app/(home)/_components/index.ts
  src/app/(home)/page.tsx
  src/app/globals.css
Due: prettier_write, prettier_check, eslint

Path conditions:
  prettier_write: any of: *.{js,jsx,ts,tsx,css,md,mdx,json}
  prettier_check: any of: *.{js,jsx,ts,tsx,css,md,mdx,json}
  eslint: any of: *.{js,jsx,ts,tsx}
