Repository depromeet/17th-team3-Web: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,md,json}'
      run: pnpm run format:check
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: pnpm run lint
    types:
      glob: '*.{ts,tsx}'
      run: pnpm run typecheck

[Chore]! 깃허브 관련 템플릿 설정
  .github/.gitmessage
  .github/ISSUE_TEMPLATE/design.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feat.yml
  .github/ISSUE_TEMPLATE/fix.yml
  .github/ISSUE_TEMPLATE/setting.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

[Fix]! Next.js 15 폰트 로더 에러 수정 및 YAML 포맷팅 - Next.js 15 폰트 로더 사용 방식 변경 대응 - GeistMono 폰트를 함수로 호출하도록 수정 - CSS 변수 접근 방식 수정 (.variable 속성 사용) - GitHub Issue Template YAML 파일들 Prettier 포맷팅 적용
  .github/ISSUE_TEMPLATE/design.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feat.yml
  .github/ISSUE_TEMPLATE/fix.yml
  .github/ISSUE_TEMPLATE/setting.yml
  package.json
  src/app/layout.tsx
Due: prettier, eslint, types

[Cicd]: GitHub-Slack 알림 연동 및 프로젝트 가이드 추가
  .github/workflows/issue-notification.yml
  .github/workflows/pr-notification.yml
  CLAUDE.md
Due: prettier

Update README.md
  README.md
Due: prettier

[Docs] 슬랙 알림 테스트용 리드미 수정
  README.md
Due: prettier

[Chore] 랜덤 리뷰어 설정 코드 추가
  .github/workflows/set-reviewers.yaml
Due: none

[Fix] core 중복 선언으로 발생한 SyntaxError 픽스
  .github/workflows/set-reviewers.yaml
Due: none

[Setting]! 코드레빗 자동 코드 리뷰 설정 추가
  .coderabbit.yaml
Due: none

[Docs]: CLAUDE.md 파일 추가
  CLAUDE.md
Due: prettier

[Test]: 홈페이지 간단히 수정
  src/app/page.tsx
Due: prettier, eslint, types

[Test] 테스트 커밋
  src/app/page.tsx
Due: prettier, eslint, types

[Style]: 코드레빗 설정 파일 포맷팅 정리
  .coderabbit.yaml
Due: none

[Fix]! 코드레빗 설정 개선 - path_filters 적용
  .coderabbit.yaml
Due: none

[Docs]: Claude Code 커밋 메시지 가이드라인 추가
  CLAUDE.md
Due: prettier

[Chore] pre-commit hooks 업데이트
  .prettierignore
  lefthook.yml
Due: none

[Chore] turbopack 임시 비활성화 & tailwind, postcss, autoprefixer 구성
  package.json
  pnpm-lock.yaml
Due: prettier

[Chore] types를 TS가 stage될 때만 실행되도록 수정
  lefthook.yml
  tsconfig.json
Due: prettier

[Chore] PostCSS 구성 파일 추가
  postcss.config.cjs
Due: none

[Feat] Tailwind config & 해상도 설정(357x668)
  tailwind.config.ts
Due: prettier, eslint, types

[Design] 글로벌 CSS → Tailwind 기반으로 전환
  src/app/globals.css
Due: prettier

[Chore] pre-commit에서 자동 stage
  lefthook.yml
Due: none

[Remove] page.module.css 파일 제거
  src/app/page.module.css
Due: prettier

[Feat] ScaledStage를 추가하여 고정된 스테이지를(357x668) 확장
  src/components/layout/ScaledStage.tsx
Due: prettier, eslint, types

[Feat] 레이아웃에 ScaledStage 적용 & 테스트 페이지 생성
  src/app/(domains)/survey/page.tsx
  src/app/any/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
Due: prettier, eslint, types

[Setting] 리뷰 반영: 디렉토리 구조화 + lint/format fix
  src/app/_components/.gitkeep
  src/app/_components/README.md
  src/app/_features/.gitkeep
  src/app/_features/README.md
  src/app/_hooks/.gitkeep
  src/app/_hooks/README.md
  src/app/_lib/.gitkeep
  src/app/_lib/README.md
  src/app/_models/.gitkeep
  src/app/_models/README.md
  src/app/_services/.gitkeep
  src/app/_services/README.md
  src/app/_utils/.gitkeep
  src/app/_utils/README.md
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/survey/.gitkeep
  src/app/survey/README.md
  src/app/survey/_components/README.md
  src/app/survey/_hooks/README.md
  src/app/survey/_models/README.md
  src/app/survey/_state/README.md
  src/app/survey/_utils/.gitkeep
  src/app/survey/_utils/README.md
  src/app/survey/index.tsx
  src/containers/README.md
  src/domains/survey/components/README.md
  src/domains/survey/containers/README.md
  src/domains/survey/hooks/.gitkeep
  src/domains/survey/models/.gitkeep
  src/domains/survey/models/README.md
  src/domains/survey/services/.gitkeep
  src/domains/survey/services/README.md
  src/domains/survey/state/.gitkeep
  src/domains/survey/utils/.gitkeep
  src/middleware.ts
Due: prettier, eslint, types

[Setting] 리뷰 반영: app/survey/_state → app/survey/_states
  src/app/survey/_states/README.md
Due: prettier

[Style] TailwindCSS 코드 스타일 ESLint 설정 적용
  lefthook.yml
  src/app/error.tsx
  src/app/not-found.tsx
Due: prettier, eslint, types

[Chore] turbopack 활성화
  package.json
Due: prettier

[Chore] tailwind.config.ts content 수정
  src/app/page.tsx
  tailwind.config.ts
Due: prettier, eslint, types

[Feat] tailwind-merge 도입
  package.json
  pnpm-lock.yaml
Due: prettier

[Test] twMerge 적용 테스트
  src/app/page.tsx
Due: prettier, eslint, types

[Design] 고정 해상도 사이즈 수정(357 -> 375)
  src/app/_components/layout/ScaledStage.tsx
  src/app/layout.tsx
  tailwind.config.ts
Due: prettier, eslint, types

[Feat] SacaledStage 'use client' 제거 → CSS 적용
  public/images/backgroundImage.png
  src/app/_components/layout/ScaledStage.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
Due: prettier, eslint, types

[Fix] ESLint target 제한
  lefthook.yml
  src/app/globals.css
  src/app/layout.tsx
Due: prettier, eslint, types

[Refactor] 배경 Image 접근성/성능 개선: alt 비우고 priority 재검토
  src/app/layout.tsx
Due: prettier, eslint, types

[Feat]! Title 공통 컴포넌트 구현 (#10)
  src/app/_components/ui/Title.tsx
  src/app/title/page.tsx
Due: prettier, eslint, types

[Chore]! tailwind-merge, class-variance-authority 패키지 설치
  package.json
  pnpm-lock.yaml
  src/app/_lib/cn.ts
Due: prettier, eslint, types

[Feat] 설문 퍼널 아이템 컴포넌트 구현 (#12)
  src/app/survey/_components/SurveyItem.tsx
  src/app/surveyitem/page.tsx
Due: prettier, eslint, types

[Chore] SurveyItem 베럴 export 구조로 변경
  src/app/survey/index.tsx
  src/app/surveyitem/page.tsx
Due: prettier, eslint, types
