Repository depromeet/17th-team3-Web: changes, and which lefthook commands are due for each by the changed paths.
All: prettier_write, prettier_check, eslint

prettier_write:
  run: pnpm prettier --write {staged_files}

prettier_check:
  run: pnpm prettier --check {staged_files}

eslint:
  run: pnpm eslint {staged_files}

[Fix] 원복 2)
  .github/workflows/docker.yml
Due: none

[Fix] refactor 원복
  .github/workflows/docker.yml
Due: none

[Chore] docker compose pull 실패되는 문제 해결
  .github/workflows/docker.yml
Due: none

[Fix] 원복 - Docker 기존 컨테이너 이름 충돌
  .github/workflows/docker.yml
Due: none

[Chore] IMAGE 환경변수 명시적 설정
  .github/workflows/docker.yml
Due: none

[Feat] 카카오톡 공유하기 이미지 추가 (#113)
  public/images/momuzzi-kakao.png
  src/app/_lib/kakao.ts
Due: prettier_write, prettier_check, eslint

[Feat] OG 및 메타태그 설정 (#113)
  src/app/layout.tsx
Due: prettier_write, prettier_check, eslint

[Feat]: OG 메타데이터 및 파비콘 설정 완성 (#113)
  public/favicon.png
  public/images/og-image.png
  public/vercel.svg
  public/window.svg
  src/app/layout.tsx
Due: prettier_write, prettier_check, eslint

[Feat]: OG 메타데이터, PWA manifest 설정 완성 (#113)
  public/manifest.json
  src/app/layout.tsx
Due: prettier_write, prettier_check, eslint

[Chore] 불필요한 이미지 파일 제거 (#113)
  public/file.svg
  public/firecracker.png
  public/globe.svg
  public/icons/profiles/susi.svg
  public/images/backgroundImage.png
  public/images/example-kakao-bg.png
  public/images/mobileBackground.svg
  public/images/momuzzi-result.png
  public/images/momuzzi-survey-loading.gif
  public/lottie/loading-1.json
  public/lottie/loading-2.json
  public/next.svg
  public/og-image.png
Due: prettier_write, prettier_check

[Chore] 프로젝트 authors 변경 (#113)
  src/app/layout.tsx
Due: prettier_write, prettier_check, eslint

[Chore] Lottie 관련 의존성 제거 (#113)
  package.json
  pnpm-lock.yaml
Due: prettier_write, prettier_check

[Feature] 좋아요 기능 구현및 인터렉션 적용
  src/app/_queries/placeQueries.ts
  src/app/_services/place.ts
  src/app/events/[eventId]/_components/RestaurantCardContent/index.tsx
Due: prettier_write, prettier_check, eslint

[Feature] 추천결과 보기 버튼 로딩 상태 추갗
  src/app/events/[eventId]/overview/_components/SurveyActionButton.tsx
Due: prettier_write, prettier_check, eslint

[Feature] MorePicksButton 컴포넌트에 showHomeButton prop 추가 및 분석 페이지에서 사용
  src/app/events/[eventId]/_components/MorePicksButton.tsx
  src/app/events/[eventId]/analysis/page.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] 설문결과 개인별 분석 데이터 랜더링시 다 괜찮아요는 선호하는 메뉴에서 제거하도록 수정
  src/app/events/[eventId]/analysis/_components/MenuPreferenceList.tsx
  src/app/events/[eventId]/analysis/_utils/index.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] 이미지 null 값 받을수 있도록 수정
  src/app/events/[eventId]/_components/RestaurantCardContent/index.tsx
  src/app/events/[eventId]/analysis/_components/RestaurantCard.tsx
Due: prettier_write, prettier_check, eslint

[Feature] MorePicksButton 컴포넌트에 홈으로 버튼 추가 및 레이아웃 수정
  src/app/events/[eventId]/_components/MorePicksButton.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] meetingId로 모임 설문 결과 요청 할수 있도록 로직 수정
  src/app/_queries/placeQueries.ts
  src/app/_services/place.ts
  src/app/events/[eventId]/analysis/_components/RestaurantCardSwiper.tsx
  src/app/events/[eventId]/analysis/page.tsx
  src/app/events/[eventId]/restaurants/RestaurantsClient.tsx
  src/app/events/[eventId]/restaurants/page.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] 페르소나 카드 자세히 보기 버튼 위치 조정
  src/app/events/[eventId]/overview/_components/persona/PersonaCard.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] Loading 컴포넌트의 z-index 속성 추가로 레이어 우선순위 조정
  src/app/_components/ui/Loading.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] SurveyActionButton 컴포넌트의 상태 관리 및 코드 정리
  src/app/events/[eventId]/overview/_components/SurveyActionButton.tsx
Due: prettier_write, prettier_check, eslint

[Chore] favicon 192, 512 사이즈 추가 (#113)
  public/favicon-180x180.png
  public/favicon-192x192.png
  public/favicon-512x512.png
  public/images/backgroundImage.png
  public/images/example-kakao-bg.png
  public/images/mobileBackground.svg
  public/images/momuzzi-survey-loading.gif
  public/manifest.json
  src/app/_lib/kakao.ts
  src/app/layout.tsx
Due: prettier_write, prettier_check, eslint

[Chore] 불필요한 이미지 파일 제거 (#113)
  public/images/example-kakao-bg.png
  public/images/mobileBackground.svg
Due: none

[Chore] PWA 적용을 위한 layout.tsx 파일 수정
  public/manifest.json
  src/app/layout.tsx
  src/middleware.ts
Due: prettier_write, prettier_check, eslint

[Chore] 파비콘 이미지 변경
  public/favicon-180x180.png
  public/favicon-192x192.png
  public/favicon-512x512.png
Due: none

[Feat] 모임 종료 기준을 6시간에서 즉시 종료로 변경
  src/app/(home)/_hooks/useMeetingsByStatus.ts
Due: prettier_write, prettier_check, eslint

[Feat] 설문 참여자 없는 종료 모임의 경우 표시되지 않게 변경
  src/app/(home)/_components/EndedMeetingCard.tsx
  src/app/(home)/_hooks/useMeetingsByStatus.ts
Due: prettier_write, prettier_check, eslint

[Remove] 모임생성 관련 불필요한 페이지 제거 (#116)
  src/app/meetings/create/success/page.tsx
Due: prettier_write, prettier_check, eslint

[Design] 모임 생성 페이지 CTA 버튼 sticky로 하단 고정 (#116)
  src/app/meetings/create/_components/CreatePageClient.tsx
Due: prettier_write, prettier_check, eslint

[Feat] 설문 프로필 중복 제한 제거
  src/app/survey/_components/step/SurveyProfileStep.tsx
  src/app/survey/_hooks/useProfileValidation.ts
Due: prettier_write, prettier_check, eslint

[Feat]! 모임 설정시간 검증 - 현재시간 2시간 이후만 선택 가능 (#116)
  src/app/meetings/create/_components/DateTimePicker.tsx
  src/app/meetings/create/_utils/timeFormat.ts
Due: prettier_write, prettier_check, eslint

[Fix] iOS PWA 노치 대응을 위한 safe-area 패딩 추가
  src/app/_components/layout/ScaledStage.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] 설문 퍼널 중 이름 중복만 검사
  src/app/survey/_components/step/SurveyProfileStep.tsx
  src/app/survey/_hooks/useProfileValidation.ts
Due: prettier_write, prettier_check, eslint

[Design] TopNavigation & SurveyFunnel 여백 제거
  src/app/_components/layout/TopNavigation.tsx
  src/app/events/[eventId]/overview/OverviewClient.tsx
  src/app/events/[eventId]/overview/_components/SurveyActionButton.tsx
  src/app/events/[eventId]/overview/_components/persona/PersonaCardSwiper.tsx
  src/app/survey/_components/core/SurveyLayout.tsx
  src/app/survey/_components/ui/form/StepFormLayout.tsx
  src/app/survey/_components/ui/modal/CuisineNoticeFrame.tsx
Due: prettier_write, prettier_check, eslint

[Refactor] 설문 프로필 - 음식 순서 변경
  src/app/survey/_components/core/SurveyFunnel.tsx
  src/app/survey/_components/step/SurveyCuisineStep.tsx
  src/app/survey/_components/step/SurveyProfileStep.tsx
  src/app/survey/_hooks/useProfileValidation.ts
  src/app/survey/_hooks/useSurveyFunnel.ts
  src/app/survey/_models/constants.ts
  src/app/survey/_models/types.ts
Due: prettier_write, prettier_check, eslint

[Refactor] 설문 건너뛰기 시에도 프로필 설정
  src/app/_components/ui/AvatarIcon.tsx
  src/app/survey/_components/core/SurveyFunnel.tsx
  src/app/survey/_components/step/SurveyProfileStep.tsx
Due: prettier_write, prettier_check, eslint

[Fix] 버튼 컴포넌트 비활성화 스타일 변경 (#116)
  src/app/_components/ui/Button.tsx
  src/app/meetings/create/_components/CreatePageClient.tsx
  src/app/meetings/create/_components/CreatePageLayout.tsx
Due: prettier_write, prettier_check, eslint

[Fix] 모임 날짜/시간 바텀시트 버튼 스타일 변경 (#116)
  src/app/meetings/create/_components/CreatePageClient.tsx
  src/app/meetings/create/_components/DateTimePicker.tsx
Due: prettier_write, prettier_check, eslint

[Style] 코드 스타일 수정
  src/app/_components/ui/AvatarIcon.tsx
Due: prettier_write, prettier_check, eslint

Path conditions:
  prettier_write: any of: *.{js,jsx,ts,tsx,css,md,mdx,json}
  prettier_check: any of: *.{js,jsx,ts,tsx,css,md,mdx,json}
  eslint: any of: *.{js,jsx,ts,tsx}
